*{
    font-family: Arial, Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    margin: 50px auto;
    margin-bottom: 20px;
}
.kotak{
    width: 350px;
    background-color: rgb(66, 161, 139);
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

lable, input {
    display: block;
}

.form-input{
    display: block;
    border: none;
    background-color: #6fdeac;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 1px;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
}

select{
    padding: 5px;
    background-color: #4bcae0;
    border-radius: 15px;
}

#btn_kirim{
    
        background-color: rgb(7, 83, 12);
        color: white;
        width: 100%;
        border: none;
        border-radius: 15px;
        padding: 10px 20px;
        cursor: pointer;
        margin-bottom: 10px;
    
}

#btn_kirim:hover{
    background-color: rgb(170, 255, 0);
    color: black;
}